<form [formGroup]="typeIdeeForm" (ngSubmit)="onSubmitForm()" style="margin-left: 600px; margin-right: 600px; padding: 15px; border: 1px solid #DCDCDC	; border-radius: 10px">
  <div class="form-group">
    <h4 for="typeIdee" style="text-align: center">Typée idée</h4>
    <input type="text" id="typeIdee" class="form-control" formControlName="typeIdee">
  </div>
  <div style="text-align: center;">
    <button type="submit" class="btn btn-primary">Ajouter un nouveau type d'idée</button>
  </div>
</form>