<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{ 'ShowR' | translate | ucfirst}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/">Accueil</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/mes-scenario">Mes Scénario</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/mes-idees">Idées</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/evaluer-scenario">Noter des Scénario</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li> -->
      </ul>
    </div>
    <!-- <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/connexion">Connection</a>
     </li>
  </ul> -->
  </nav>